@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

img {
  min-width: 100%;
  height: 250px;
}

hr {
  background-color: #cddbff;
}

body {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-color: #cddbff;
  font-family: "Inter", sans-serif;
}

.prompt-box {
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: #2361ff;
  color: #cddbff;
  font-weight: 700;
  font-size: 20px;
}

#user-input {
  width: 100%;
  font-size: 15px;
}

#submit-btn,
#regenerate {
  border-style: none;
  background-color: transparent;
  color: #cddbff;
  font-weight: 700;
  margin-top: 10px;
}

#submit-btn:hover,
#regenerate:hover {
  cursor: grab;
  scale: 1.1;
}

.choices {
  font-weight: 400;
}
