{% extends "layout.html" %} 

{% block content %}

<script>
  let gpt3_prompt = {{prompt|tojson}} 
  let idea = {{ideas|tojson}}
  console.log(gpt3_prompt, idea)
</script>

<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 prompt-box">
      <div class="generated-prompt mb-3"> Lets take a look at some captions based on your input: </div>
      <div class="generated-caption mb-3"> {{ideas}} </div>
      <input type="submit" id="like-btn" value="I like it" />
      <input type="submit" id="regenerate-btn" value="Regenerate" />
    </div>
  </div>
</div>

{% endblock %}