{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 prompt-box">
      <div class="description"></div>
      <div class="image"></div>
      <div class="choices"></div>
      <div class="selection"></div>
      <input type="text" id="user-input" name="user-input" /> <br />
      <div class="text-center">
        <button id="back"><--</button>
        <button id="home" class="d-none" n>Home</button>
        <span id="tab"></span>
        
        <input
          type="submit"
          id="submit-btn"
          class="text-center"
          value="Submit"
        />
        <button id="regenerate" class="d-none" n>Regenerate</button>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

{% endblock %}
